In [5]:
import pandas as pd

data = pd.read_csv('Sentiment.csv')
data.head()

,Title,Comment,User,Sentiment
0,A Clockwork Orange,"Loved the book, movie was mediocre",19lins90,0.5994
1,A Clockwork Orange,My buddy told me it was one of his all time fa...,Anefor,0.6369
2,A Clockwork Orange,I think it's hard to put the extreme emotions ...,cheddarfire,-0.4310
3,A Clockwork Orange,I haven't seen it but I'm tempted to watch it....,DanceFactory,-0.5965
4,A Clockwork Orange,"I saw it once, and really enjoyed it but I've ...",High7323,0.1770

In [10]:
noNone = data[data.User != "None"]
noNone.head()
noNone.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410 entries, 0 to 454
Data columns (total 4 columns):
Title        410 non-null object
Comment      410 non-null object
User         410 non-null object
Sentiment    410 non-null float64
dtypes: float64(1), object(3)
memory usage: 16.0+ KB

In [15]:
duplicatedUsers = noNone[noNone.duplicated('User')]
duplicatedUsers.head()

,Title,Comment,User,Sentiment
110,Dunkirk,I liked it less and less the more times I saw it.,IWW4,0.4215
124,Dunkirk,"Honestly, either or is ok cause I like most of...",speedymini13,0.7717
126,Dunkirk,I am just gonna post what I said to an overrat...,Thatoneasian9600,0.8916
129,Dunkirk,"Bizarrely at the cinema, I found it pretty col...",XInsects,0.7823
150,Edge of Tomorrow,It was great until Cruise and Blunt got to the...,IWW4,0.6249

In [6]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.10)

In [ ]:
um = train.pivot_table(index='User')